@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive|Gurajada|Kristi|Purple+Purse|Ramabhadra|Rammetto+One&display=swap");

/* font-family: 'Kristi', Cursive;
font-family: 'Cedarville Cursive', Cursive ;
font-family: 'Ramabhadra', sans;
font-family: 'Gurajada', sans;
font-family: 'Rammetto One', arial;
font-family: 'Purple Purse', arial; */

body {
  background-color: rgb(137, 183, 244);
  text-align: center;
}

.pic {
  width: 100%;
  height: auto;
  max-width: 1000px;
}

.vid {
  width: 95%;
  height: 60vh;
  max-width: 1000px;
}

h1 {
  font-family: "Cedarville Cursive", Cursive;
  font-size: 4em;
}
h2 {
  font-family: "Rammetto One", arial;
  font-size: 2.5em;
}

.glow {
  animation: colorchange 20s infinite alternate;
}

@keyframes colorchange {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}
h3 {
  font-family: Verdana;
  font-size: 4em;
}

h4 {
  font-family: "Purple Purse", arial;
  font-size: 2em;
}

p {
  font-family: "Gurajada", sans-serif;
  font-size: 4em;
  line-height: 80%;
}

ul {
  font-family: "Ramabhadra", Verdana, Tahoma, sans-serif;
  font-size: 2em;
  list-style: none;
}

span {
  width: 10px;
}

h5 {
  font-size: 2em;
}

#round {
  border-radius: 70px;
}
